/* styles.css */

/* Style for form container */
.custom-form {
    max-width: 400px;
    margin: 40px auto;
}

/* Style for form elements */
.custom-form input,
.custom-form textarea,
.custom-form select {
    width: calc(100% - 10px); /* Adjust the width */
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

/* Increase the width of input fields */
.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="password"],
.custom-form textarea,
.custom-form select {
    width: calc(150% - 10px); /* Adjust the width */
}


.custom-form .submit-btn {

    padding: 10px 20px;
    margin: 10px ;
    font-size: 1em;
    background-color:  #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.custom-form .submit-btn:hover {
    background-color: #a5a5a5;
   
}
/* styles.css */

/* Global styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease; /* Adding transition effect */
}

.navbar a:hover {
    color: rgb(80, 61, 61);
}

/* Main section styles */
.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    padding-bottom: 35px; /* Adjust as needed for space between the line and content */
    margin-bottom: 35px; /* Adjust margin to control space between sections */
}

.content-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.content-image {
    max-width: 300px;
    height: auto;
    margin-left: 20px;
}

/* About section styles */
/* styles.css */

/* About section styles */
#about {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

#about h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

#about h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Adjust any other styles as needed */


/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 10px;
}

.footer-content ul li a {
    color: white;
    text-decoration: none;
}


.tryButton {
    padding: 10px 20px;
    margin: 10px ;
    font-size: 1em;
    background-color:  #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tryButton:hover {
    background-color: #a5a5a5;
}


/* Style for the employee card */
.employee-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-card p {
    margin: 0;
}

.employee-card strong {
    margin-right: 5px;
}



/* Style for the action buttons */
.action-btn {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-btn:hover {
    background-color: #363636;
    color: white;
    text-decoration: none; /* Remove underline on hover */
}

.delete-btn {
    border-color: #3d2c2d;
    color: #cf6570;
}

.delete-btn:hover {
    background-color: #dc3545;
    color: white;
    text-decoration: none; /* Remove underline on hover */
}
/* Card styles */
.card {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    max-width: 100%; /* Ensures the card doesn't exceed its container width */
}

.card h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.details-list {
    list-style: none;
    padding: 0;
}

.sub-details-list {
    list-style: none;
    padding-left: 20px;
    margin-top: 8px;
}

.sub-details-list li {
    margin-bottom: 8px;
}



/* Dashboard Styling */
.dashboard {
    text-align: center;
    margin-top: 50px;
}

.dashboard h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.dashboard p {
    font-size: 1.2em;
    margin-bottom: 30px;
}



.auth-links {
    display: flex;
    justify-content:center;
}
.auth-links a{
    margin: 10px;/* styles.css */

    /* Style for the container div */
    
    color: #333;
    text-decoration: none;
}

