{% extends 'base.html' %}
{% block title %}Employee Details{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1>{{ employee.name }}'s Details</h1>
        <ul class="details-list">
            <li>
                <h3>General Information</h3>
                <ul class="sub-details-list">
                    <li><strong>Name:</strong> {{ employee.name }}</li>
                    <li><strong>Employee ID:</strong> {{ employee.id }}</li>
                    <li><strong>Email:</strong> {{ employee.email }}</li>
                    <li><strong>Gender:</strong> {{ employee.gender }}</li>
                    <li><strong>Birth Date:</strong> {{ employee.birth_data }}</li>
                </ul>
            </li>
            <li>
                <h3>Contact Details</h3>
                <ul class="sub-details-list">
                    <li><strong>Address:</strong> {{ employee.address }}</li>
                    <li><strong>Phone Number:</strong> {{ employee.phone_number }}</li>
                </ul>
            </li>
            <li>
                <h3>Employment Information</h3>
                <ul class="sub-details-list">
                    <li><strong>Salary:</strong> {{ employee.salary }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="functionalities">
    <a href="{% url 'employee-update' employee.id %}" class="action-btn">Update</a>
    <a href="{% url 'vacation-create' employee.id %}" class="action-btn">Submit Vacation</a>
    <a href="{% url 'employee-delete' employee.id %}" class="action-btn delete-btn">Delete</a>
</div>

{% endblock content %}
