<h1>{{employee.name}}'s details</h1>
<ul>
    <li>
        <strong>Name:</strong> {{ employee.name }}<br>
        <strong>Employee ID:</strong> {{ employee.employee_id }}<br>
        <strong>Email:</strong> {{ employee.email }}<br>
        <strong>Address:</strong> {{ employee.address }}<br>
        <strong>gender:</strong> {{ employee.gender }}<br>
        <strong>Phone Number:</strong> {{ employee.phone_number }}<br>
        <strong>Salary:</strong> {{ employee.salary }}<br>
        <strong>Birth Data:</strong> {{ employee.birth_data }}<br>
        
    </li>
</ul>