{% extends 'base.html' %}
{% block title %}Submit vacation{% endblock title %}
{% block content %}
<form action="" method = "post" class="custom-form" id="VacationForm">
    {% csrf_token %}
    <label for="id_start_date">Start Date:</label>
    <input type="date" name="start_date" id="id_start_date">

    <label for="id_end_date">End Date:</label>
    <input type="date" name="end_date" id="id_end_date">
    {{form.as_p}}
    <button type="submit" class="submit-btn">Add</button>
</form>
{% endblock content %}