{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">   
        <a href="{%url 'landing-page'%}">HumanRsc</a>
        <a href="#products">Products</a>
        <a href="#about">About Us</a>

        {% if user.is_authenticated %}
        <div>
            <p>Hello {{ user.first_name }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div>
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </nav>

    <main class= "main" id="products">
        <section class="content-section" id="human-resources-section">
            <div class="content-text">
                <h1>Streamline HR Management with our Comprehensive Employee Management System</h1>
                <p>Our Human Resources Management SaaS offers a robust suite of functionalities empowering users to efficiently handle employee data, streamline leave management, and enhance organizational processes</p>
                <button id="tryButton" class="tryButton" type='submit'>Try it</button>
            </div>
            <img class="content-image" src="{% static 'imgs/human-resources.jpg' %}" alt="Human Resources">
        </section>
        <section class="content-section" id="student-affairs-section">
            <div class="content-text">
                <h1>Elevate Student Affairs with Our Comprehensive Student Management System</h1>
                <p>We've developed a robust Student Affairs website that empowers users to efficiently manage student data and enhance administrative processes. Our feature-rich platform includes functionalities designed to simplify student management</p>
                <button class="tryButton" type='submit'>Try it</button>

            </div>
            <img class="content-image" src="{% static 'imgs/project2.jpg' %}" alt="Student Affairs">
        </section>
        <section class="content-section" id="higher-studies-section">
            <div class="content-text">
                <h1>Empower Higher Education with Our Comprehensive Higher Studies Platform</h1>
                <p>Experience the next level of educational management with our Higher Studies website. Our platform is tailored to offer an array of functionalities that facilitate seamless management and administration of higher education</p>
                <button class="tryButton" type='submit'>Try it</button>
 
            </div>
            <img class="content-image" src="{% static 'imgs/project3.png' %}" alt="Higher Studies">
        </section>
        <section class="content-section" id="laboratory-tracking-section">
            <div class="content-text">
                <h1>Efficient Laboratory Management Simplified: Our Laboratory Tracking Website</h1>
                <p>Welcome to our Laboratory Tracking Website, your ultimate solution for streamlined laboratory management. Designed to offer comprehensive functionalities, our platform enables effortless management and maintenance of laboratory assets</p>
                <button class="tryButton" type='submit'>Try it</button>

            </div>
            <img class="content-image" src="{% static 'imgs/project4.jpg' %}" alt="Laboratory Tracking">
        </section>
    </main>
    <section id="about">
        <h1>About Us</h1>
        <p>We are شركة الحاج احمد للأثاث, dedicated to transforming administrative operations across diverse sectors. Our suite of innovative Software-as-a-Service (SaaS) solutions streamlines essential processes, empowering institutions to excel in their management endeavors.</p>
        <h3>Why Choose Us</h3>
        <p>With a relentless focus on innovation, user experience, and customer success, شركة الحاج احمد للأثاث stands as a trusted partner in driving digital transformation. Our commitment to excellence ensures that your organization remains ahead in today's dynamic landscape. Discover the difference that forward-thinking SaaS solutions can make. Join us on the journey towards efficiency and growth with شركة الحاج احمد للأثاث.</p>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2023 شركة الحاج احمد للأثاث</p>
            <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static "js/index.js" %}" defer></script>
</body>
</html>
