{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>   
        <a href="{%url 'landing-page'%}">HumanRsc</a>
        <a href="#products">Products</a>
        <a href="#about">About Us</a>

        {% if user.is_authenticated%}
        <div>
            <p>Hello {{user.first_name}}</p>
            <a href="{%url 'logout'%}">Logout</a>
        </div>
        {% else %}
        <div>
            <a href="{%url 'signup'%}">Sign up</a>
            <a href="{%url 'login'%}">Login</a>
        </div>
        {% endif %}
    </nav>

    <main id="products">
        <section id="#human-rsc">
            <div>
                <h1>Streamline HR Management with our Comprehensive Employee Management System</h1>
                <p>Our Human Resources Management SaaS offers a robust suite of functionalities empowering users to efficiently handle employee data, streamline leave management, and enhance organizational processes</p>
            </div>
            <img src="{% static "imgs/human-resources.jpg" %}" alt="">
        </section>
        <section id="#student-affairs">
            <div>
                <h1>Elevate Student Affairs with Our Comprehensive Student Management System</h1>
                <p>we've developed a robust Student Affairs website that empowers users to efficiently manage student data and enhance administrative processes. Our feature-rich platform includes functionalities designed to simplify student management</p>
            </div>
            <img src="{% static "imgs/project2.jpg" %}" alt="">
        </section>
        <section id="#higher-studies">
            <div>
                <h1>Empower Higher Education with Our Comprehensive Higher Studies Platform</h1>
                <p>Experience the next level of educational management with our Higher Studies website. Our platform is tailored to offer an array of functionalities that facilitate seamless management and administration of higher education</p>
            </div>
            <img src="{% static "imgs/project3.png" %}" alt="">

        </section>
        <section id="#laboratory-tracking">
            <div>
                <h1>Efficient Laboratory Management Simplified: Our Laboratory Tracking Website</h1>
                <p>Welcome to our Laboratory Tracking Website, your ultimate solution for streamlined laboratory management. Designed to offer comprehensive functionalities, our platform enables effortless management and maintenance of laboratory assets</p>
            </div>
            <img src="{% static "imgs/project4.jpg" %}" alt="">

        </section>
    </main>
    <section id="about">
        <h1>About Us</h1>
        <p>We are شركة الحاج احمد للأثاث, dedicated to transforming administrative operations across diverse sectors. Our suite of innovative Software-as-a-Service (SaaS) solutions streamlines essential processes, empowering institutions to excel in their management endeavors.</p>
        <h3>Why Choose Us</h3>
        <p>With a relentless focus on innovation, user experience, and customer success, [Your Company Name] stands as a trusted partner in driving digital transformation. Our commitment to excellence ensures that your organization remains ahead in today's dynamic landscape.

            Discover the difference that forward-thinking SaaS solutions can make. Join us on the journey towards efficiency and growth with شركة الحاج احمد للأثاث.</p>
    </section>
    <footer></footer>
</body>
</html>